<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>B1</title>
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/style.css" />
  <script type="module" src="./js/index.js"></script>
</head>

<body>
  <main role="main" class="container">
    <section class="weldcome-section">
      <review-component></review-component>
    </section>
  </main>

</body>

</html>